<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBW0GKSxPWBaXWP1SNfkaB_HjN6P6pvh2E</string>
	<key>GCM_SENDER_ID</key>
	<string>875734686611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.teamsplit</string>
	<key>PROJECT_ID</key>
	<string>team-split-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>team-split-mobile-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875734686611:ios:8a3006e418b5f917496666</string>
</dict>
</plist>